.homeCard{
    width: auto;
    height: auto;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.homeCard p:first-of-type{
 font-size: 20px;
}
.cardImage{
    height:200px;
    width:200px;
    object-fit: cover;
    display: flex;
    align-self: center;
}
.date{
    color: rgb(16, 110, 250);
}

#featureImg{
    padding-bottom: 2em;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#featureArticleBody{
    padding: 25px; 
}

#listArticleImg{
    
    margin-right: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;

}
#listArticleBody{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#listArticleBody h2{
 font-size: 15px;
}

.article {
    min-width: 25vw;
}


.articleImage{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 700px;
    height: 500px;
    object-fit: cover;

}
#authorAvatar{
   margin: 40px 0 20px 0;
   width: 100px;
   height: 100px;
   object-fit: cover;
}
.indvArticle{
    margin: 25px auto 50px auto;
    padding: 25px;
    width: 90%;
    box-shadow: 5px 5px rgb(202, 200, 200);
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(167, 230, 255, 0.473) ;
}
.centerDisBottom{
    width: 100%;
    height: 3px;
    border-top: 1px solid black;
}
.indvArticle img{
    box-shadow: 5px 5px rgb(202, 200, 200);
    border: .5px solid black;
    border-radius: 5px;
}

.articleTop{
    margin: 30px 0 0 30px;
}

.authorInfo{
  margin-top: 40px;
   
}

.homeStories{
    width:100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homeWelcome{
    display: flex;
    height: auto;
    background-color: rgb(208, 242, 255) ;
}
.homeWelcome img {
    padding:20px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
}
.welcomeText{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.newArticleBody{
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80% ;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px lightgray;
}

#imageInput{
padding: 5px;
   box-shadow: inset;
   border-radius: 10px;
}
.checkboxes{
    padding: 5px;
    border: 1px solid rgb(9, 77, 167);
    border-radius: 10px;
}
#newArticleTextArea{
    height: 400px;

}
#TextAreaHeader{
    margin-top: 10px;
}
#search{
    width: 70%;
    margin-top: 20px;
}
#searchText{
    margin-right: 10px;
    width: 70%

}
#dropdown-basic-button{
    margin-top: 20px;
}
.homeSearch{
    display: flex;
    justify-content: center;
}