.homeCard{
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(167, 230, 255) ;
    padding: 15px;
    width: 85em;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px rgb(202, 200, 200);
}
.cardImage{
    border: 1px solid black;
    border-radius: 5px;
    height:150px;
    width:auto;
    object-fit: cover;
    margin-right: 20px;
    display: flex;
    align-self: center;
}

.article {
    height: auto;
    width: 400px;
    border: 2px;
}
.cardImage{
    border: 2px solid black;
    border-radius: 10px;
    height:150px;
    width:240px;
    object-fit: cover;
    margin-right: 20px;
}

.articleImage{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 700px;
    height: 500px;
    object-fit: cover;

}
#authorAvatar{
   margin: 40px 0 20px 0;
   width: 100px;
   height: 100px;
   object-fit: cover;
}

.articleTop{
    margin: 30px 0 0 30px;
}

.authorInfo{
  margin-top: 40px;
   
}

.homeStories{
    width:100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homeWelcome{
    display: flex;
    height: auto;
    background-color: rgb(208, 242, 255) ;
}
.homeWelcome img {
    padding:20px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
}
.welcomeText{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
#newArticleHeader{
text-align: center;
padding-bottom: 20px;
font-size: 50px;
text-decoration: underline;
}
.newArticleBody{
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80% ;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px lightgray;
}

#imageInput{
padding: 5px;
   box-shadow: inset;
   border-radius: 10px;
}
.checkboxes{
    padding: 5px;
    border: 1px solid rgb(9, 77, 167);
    border-radius: 10px;
}
#newArticleTextArea{
    height: 400px;

}
#TextAreaHeader{
    margin-top: 10px;
}
#search{
    width: 70%;
    margin-top: 20px;
}
#searchText{
    margin-right: 10px;
    width: 70%

}
#dropdown-basic-button{
    margin-top: 20px;
}
.homeSearch{
    display: flex;
    justify-content: center;
}