@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');


/* body{
    background-image: radial-gradient(circle, rgba(223,241,244,1) 41%, rgba(151,185,224,1) 100%);
} */

.homeCard{
    width: auto;
    height: auto;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.homeCard p:first-of-type{
 font-size: 20px;
}
.cardImage{
    height:200px;
    width:200px;
    object-fit: cover;
    display: flex;
    align-self: center;
}
.date{
font-size: smaller;}

#featureImg{
    padding-bottom: 2em;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#featureArticleBody{
    padding: 25px; 
}

#listArticleImg{
    
    margin-right: 15px;
    width: 120px;
    height: 120px;
    object-position: center;
    object-fit: cover;
}
.homeDiscoverList{
    background:rgba(151,185,224,.3);
    border: 1px solid rgba(151,185,224,1);
    padding: .75em;
    overflow-y:auto;
    max-height: 80vh;
}
#listArticleBody{
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#listArticleBody h2{
 font-size: 18px;
 font-weight: 600;
}

.article {
    min-width: 25vw;
}
.clickableTitle:hover{
    cursor: pointer;
}

.articleImage{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 60px;
    width: 700px;
    height: 500px;
    object-fit: cover;

}
#authorAvatar{
   margin: 0 0 20px 0;
   width: 60px;
   height: 60px;
   object-fit: cover;
}
.indvArticle{
    margin-left: auto;
    margin-right: 26%;
    width: 58vw;
}
.indvArticle h1{
    text-align: center;
    padding-bottom: .5em;
    padding-top: .7em;
    font-size: 60px;
    font-weight: 700;
}
.indvArticle h3{
text-align: center;
padding-bottom: .5em;
}
.indvArticle p{
 font-size: 22px;
 line-height: 33px;
    
}
.indvArticle #authorInfo p{
    font-size: 18px;
    line-height: 33px;  
   }

.InvArticleLikes{
text-align: center;

}
.InvArticleLikes h5{
    padding-left: 10px;
}
.centerDisBottom{
    width: 100%;
    height: 3px;
    border-top: 1px solid black;
}
.indvArticle img{
    box-shadow: 2px 2px rgb(202, 200, 200);
    border: .5px solid black;
    border-radius: 5px;
}

.articleTop{
    margin: 30px 0 0 30px;
}

#authorInfo{
  height: 60px;
  align-items: center;
   
}

.homeStories{
    width:100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homeWelcome{
    display: flex;
    height: auto;
    background-color: rgb(208, 242, 255) ;
}
.homeWelcome img {
    padding:20px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
}
.welcomeText{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.newArticleBody{
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80% ;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px lightgray;
}

#imageInput{
padding: 5px;
   box-shadow: inset;
   border-radius: 10px;
}
.checkboxes{
    padding: 5px;
    border: 1px solid rgb(9, 77, 167);
    border-radius: 10px;
}
#newArticleTextArea{
    height: 400px;

}
#TextAreaHeader{
    margin-top: 10px;
}
#search{
    width: 70%;
    margin-top: 20px;
}
#searchText{
    margin-right: 10px;
    width: 70%

}
#dropdown-basic-button{
    margin-top: 20px;
}
.homeSearch{
    display: flex;
    justify-content: center;
}
.favCard{
    border: px solid grey;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    background-color: rgb(167, 230, 255) ;
    padding: 20px;
    width: 80em;
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 35px;
    box-shadow: 7px 7px rgb(134, 160, 150);
    
    /* justify-content: center;
    flex-direction: row; */
    /* padding: 15; */
    width: 450px;
    height: 300px;
     /* flex-wrap: nowrap; */
    transition: width .6s, height .6s, filter .35s;
    /* transition-delay: .15s;  */


}

.favCard:hover{
    /* The size is nice. Unsure how to set the size. */
    background: rgb(167,230,255);
    /* background: radial-gradient(circle, rgba(167,230,255,1) 69%, rgba(225,238,193,1) 100%); */
    /* opacity: .85; */
    filter: saturate(2.0);
     /* width: 451px;
    height: 302px; */
    transition: width .3s, height .3s, opacity .5s, filter 1.2s; 

}

.favArticleRow{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.favImage{
    border-radius: 5px;
    width: 200px;
    height:200px;
    object-fit: cover;
    margin-right: 20px;
    display: flex;
    align-self: center;
}

.favArticle{
    height: auto;
    width: 400px;
    border: 2px;
}

.favArticleTitle{
    font-size: 20px;
    font-weight: 560;
    color: rgb(118, 30, 201);

}

.favArticleTitle:hover{
    cursor:pointer;
}


.favArticlePreview{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-anchor: initial;
    
    /* background-position: absolute;
    position: relative;
    color: red; */
    /* font-stretch: semi-condensed; */


}

.favArticleCreatedOn{
    font-size: 10px;
    font-weight: 600;


}






/* UNSURE WHAT IS HAPPENING ABOVE WORK ON INDIVIDUAL ARTICLE TEST CSS BELOW*/

/* #1 Spectral Application
   #2 Squeeze center line.
   #3 Standardize the images? ... which should be doable.
    -wraps and stuff :|
   #4PADDING across the board
   #5 Pulling it leftward.
   #6 compiling the triangle of functionality. (possibly seperate out the author)


*/

.content{
    font-family: 'Spectral', serif;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/* need max width for things that are imgs
Scale down. */

.content p{
    margin-bottom: 43px
}

.content img{
    max-width: 800px;
    margin-bottom: 30px;
    object-fit: cover;
    
}

.articleIndividualTitle{

    width: 55vw;
    font-weight: 550;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding-top:45px;
    line-height: 57px;
    letter-spacing: 1.5px;
    padding-bottom: 15px;

}

.articleIndidivualHook{
    font-style: italic;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 60%;
}

.favButtonRelocationFund{
    display: flex;
    justify-content: center;
    /* margin-left: 77.5%; */
    margin-left: 45vw;
    min-height: 38px;
    width: 180px;
    padding-top: 10px;
}

.userProfileRow{
    padding-top: 12px;
}

.seriesOnclickGo:hover{
    cursor: pointer;

}

.InvArticleLikesNoneSeriesVariant{
    text-align: center;
    padding-bottom: 7px;
    padding-left: 8px;

}

.authorNameSpaceIndArticleRow{
    padding-right: 10%;
    padding-left: 14px;
}