.authorInfo{
    align-content: center;
    
        
}

.authorInfoCard{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.authorCardBG{
    padding: 20px 0 20px 0  ;
    background-color: rgb(167, 230, 255) ;
}
.likeCounter{
    margin-left: 3em;
    align-content: center;
}