.raw {
    list-style: radial-gradient(18 rem)
}
.adminInfo{
    align-content: center;
}

.adminInfoCard{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
    box-shadow:  0 0 5px #120129;

}

.bodyContainer{
    box-shadow:  0 0 3px #120129;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 85em;
    padding: 10px;
}
.userCard{
    margin-bottom: 15px;
}
.userCardTitle{
    font-size: 22px;
}
.adminCardBG{
    padding-top: 25px;
    background-color: rgb(167, 230, 255) ;
}
.adminFeatureArticle{
    padding-top: 1em;
}
.adminInfoCard{
    width: 40em;
    margin-right: auto;
    margin-left: auto;
    box-shadow: white 0px 0px 10px;
} 
.adminInfoCard img{
    margin: 1em auto 0 auto;
    width: 30em;
    height: 20em;
    object-fit: cover;
    border-radius: 10px;
}
#adminManagementBar{
    max-height: 80vh;
    overflow-y: scroll;
}

.infoTabs{
    padding: .3em; 
}
.infoTabs .btn{
    width: 150px;
    height: 60px;
}
.btnSmall{
    max-height: 40px;
    max-width: 90px;
    margin-right: 10px;

}