.alignSubContent{
    background: rgb(223,241,244);
    background: radial-gradient(circle, rgba(223,241,244,1) 41%, rgba(151,185,224,1) 100%);
        height: fit-content;
    max-height: 100em;
}
/*Switch to 100% of content. vh, vw*/

.subcontent{
    
    flex-flow: column wrap;
    display:flex;
    justify-content: center;
    align-content: center;

}

.subscribeButton{
    margin-top: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}


.SubscribeTxt{
    margin-top: .10em;
    font-size: 5rem;
    font-weight: 350;
    font-variant: inherit;
    font-kerning: normal;

}

.subscribetxtsmol{
    font-size: .5rem;
    color:grey;
}

.subReasonsCards{
    display:flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 4em;
    flex-direction: row;

}

.card-height{
    max-height:50%;

}

.subCardImg{
    max-height:100%;
    height:340px;
    max-width:100%;
    object-fit:cover;
    flex-direction: row;     
}


.subscriptionMake{

    background: rgb(249,249,249);
    background: radial-gradient(circle, rgba(249,249,249,1) 3%, rgba(167,175,254,1) 79%, rgba(228,146,199,1) 100%);
    height:100vh;
    width:100vw;
}

.subscriptionPlanOrganizer{    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.subscriptionPlantextOffset{
    margin-top: 10rem;


}

.subscriptionButtonOffset{
    margin-top: 5rem;


}