.homeCard{
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(167, 230, 255) ;
    padding: 15px;
    width: '18rem';
    margin-left:"30px";
    display: flex;
    margin-bottom: 15px;
}

.cardImage{
    border: 1px solid black;
    border-radius: 5px;
    height:150px;
    width:auto;
    object-fit: cover;
    margin-right: 20px;
}

.homeStories{
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homeWelcome{
    display: flex;
    height: auto;
    background-color: rgb(208, 242, 255) ;
}
.homeWelcome img {
    padding:20px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
}
.welcomeText{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}