.homeCard{
    border: 1px solid black;
    padding: 15px;
    width: '18rem';
    margin-left:"30px";
    display: flex;
    margin-bottom: 15px;
}

.cardImage{
    height:150px;
    width:auto;
    margin-right: 20px;
}

.homeStories{

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 95vw;
}
.homeWelcome{
    border: 1px solid black;
    height: 300px;
    background-color:lightgray;
}
.homeWelcome img {
    padding-top:20px;
    margin-left: 20px;
    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
}
.welcomeText{
    display: flex;
    border: 1px solid black;
}